{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>About Us | Aurora</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock head %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1>About Aurora Adventures</h1>
    <p class="lead" >Aurora Adventures is a premier provider of Northern Lights flight bookings. We offer a range of customized flight packages to help our customers experience the magic of the Aurora Borealis like never before. With years of experience and a deep commitment to customer satisfaction, we're the go-to choice for anyone looking to witness the beauty of the Northern Lights.</p>

    <h1>Our Mission</h1>
    <p class="lead">Our mission at Aurora Adventures is to provide our customers with a once-in-a-lifetime experience. We believe that the Northern Lights are one of nature's greatest wonders, and we're dedicated to helping our customers experience them in the most unforgettable way possible. Whether you're an avid photographer looking to capture the perfect shot, or just someone who wants to witness the magic of the Aurora Borealis up close and personal, we're here to make your dream a reality.</p>

        </div>
<div class="container">
  <h1>Our Team</h1>
  <div class="row d-flex">
    <div class="col-lg-4 flex-wrap">
      <div class="team-member">
        <img src="{% static 'img/happy.png' %}" alt="Team Member 1" class="img-fluid">
        <h3 class="member-name">Jay Patel</h3>
        <p class="member-role">CEO</p>
      </div>
    </div>
    <div class="col-lg-4 flex-wrap">
      <div class="team-member">
        <img src="{% static 'img/girl.png' %}" alt="Team Member 2" class="img-fluid">
        <h3 class="member-name">Sakshi Wadwa</h3>
        <p class="member-role">COO</p>
      </div>
    </div>
    <div class="col-lg-4 flex-wrap">
      <div class="team-member">
        <img src="{% static 'img/happy.png' %}" alt="Team Member 3" class="img-fluid">
        <h3 class="member-name">Viraj Wickramasinghe</h3>
        <p class="member-role">CTO</p>
      </div>
    </div>
    <div class="col-lg-6 flex-wrap">
      <div class="team-member">
        <img src="{% static 'img/girl.png' %}" alt="Team Member 4" class="img-fluid">
        <h3 class="member-name">Sherin Tharakan</h3>
        <p class="member-role">Director</p>
      </div>
    </div>
    <div class="col-lg-6 flex-wrap">
      <div class="team-member">
        <img src="{% static 'img/happy.png' %}" alt="Team Member 5" class="img-fluid">
        <h3 class="member-name">Manthan Nayani</h3>
        <p class="member-role">Director</p>
      </div>
    </div>
  </div>
</div>
    </section>
{% endblock%}