{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Bookings | Flight</title>
    <script type="text/javascript" src="{% static 'js/bookings.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bookings_style.css' %}">
{% endblock head %}
    <style>
        .header {
            text-align: left;
            font-size: 2em;
            font-weight: 600;
        }
        th {
            width: 25%;
            text-align: left;
            padding: 5px 20px;
        }
        td {
            width: 25%;
            text-align: left;
            padding: 5px 15px;
        }
    </style>
{% block body %}
    <section class="section section1">
        <div class="container">
            {% if tickets %}
                {% for ticket in tickets %}
                    <div class="row each-booking-div" id="{{ticket.ref_no}}">
                        <div class="col-2" style="display: flex;">
                            <div style="display: flex; color: #666666; margin-top: auto;">
                                <div>
                                    <span style="font-size: medium"><p>Date: </p>{{ticket.flight_ddate | date:"d M y"}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 middle-div">
                            <div style="width:100%">
                                <div class="row places-div" style=" display: flex;">
                                     <span style="font-size: medium"><p>From: </p>{{ticket.flight.origin.city}}</span>
                                    <div>&nbsp;&nbsp;</div>
                                    <span style="font-size: medium"><p>To: </p>{{ticket.flight.destination.city}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 middle-div">
                            <div style="font-size:medium; color: red;"><p>Ref No: </p>{{ticket.ref_no}}</div>
                        </div>
                        <div class="col-2 last-div">
                            <div>
                                <div class="ticket-action-div">
                                    {% if ticket.status == 'CONFIRMED' %}
                                        <form action="{% url 'getticket' %}" method="get" target="_blank">
                                            <input type="hidden" name="ref" value="{{ticket.ref_no}}">
                                            <button type="submit" class="btn btn-outline-dark btnp pbtn">Print TIcket</button>
                                        </form>
                                        <button class="btn btn-outline-dark btnp cbtn"  data-ref="{{ticket.ref_no}}" onclick="popup(this)">Cancel</button>
                                    {% endif %}

                                    {% if ticket.status == 'PENDING' %}
                                        <form action="{% url 'resumebooking' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="ref" value="{{ticket.ref_no}}">
                                            <button type="submit" class="btn btn-outline-primary btnp rbtn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
                                                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                  <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082z"/>
                                                </svg>
                                            </button>
                                        </form>

                                        <button type="button" class="btn btn-outline-danger btnp cbtn" data-ref="{{ticket.ref_no}}" onclick="popup(this)">Cancel</button>
                                    {% endif %}
                                    {% if ticket.status == 'CANCELLED' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <div style="height: 100%; width:100%; padding: 10%;">
                    <div style="text-align: center; margin: auto;">
                        <p>No bookings</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}

{% block parentBody %}

    <div class="popup">
        <div class="small-popup">
            <div class="popup-actions">
                <button class="btn btn-warning" id="cancel_ticket_btn" data-ref="" onclick="cancel_tkt()">Cancel</button>

            </div>
        </div>
    </div>
{% endblock %}