{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Contact Us | Aurora</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock head %}

{% block body %}
<section class="section">
  <div class="container">
    <h1>Contact Us</h1>
    <p>Please fill out the form below to contact us:</p>

    <form method="POST" action="contact">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</section>

{% endblock%}