<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Ticket</title>
    <style>
        .header {
            text-align: left;
            font-size: 2em;
            font-weight: 600;
        }
        th {
            width: 25%;
            text-align: left;
            padding: 5px 20px;
        }
        td {
            width: 25%;
            text-align: left;
            padding: 5px 15px;
        }
    </style>
</head>
<body>
        <div class="col header" style="width: 50%;">
            <span style="margin: auto 0 auto auto;">Confirmation</span>
        </div>
    <main style="padding: 10px;">
        <table>
            <tr>
                <th>Ticket Reference</th>
                <td>{{ ticket1.ref_no|upper }}</td>
                <th>Booking Date &amp; Time</th>
                <td>{{ ticket1.booking_date|date:'d M y'|upper }}</td>
            </tr>
            <tr>
                <th>Flight Date</th>
                <td>{{ ticket1.flight_ddate|date:'d M y'|upper }}</td>
                <th>Class</th>
                <td>{{ ticket1.seat_class|upper }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ ticket1.email }}</td>
                <th>Mobile</th>
                <td>{{ ticket1.mobile }}</td>
            </tr>
            {% for passenger in ticket1.passengers.all %}
            <tr>
                <th>Passenger Name</th>
                <td>{{ passenger.first_name }} {{ passenger.last_name }}</td>
                <th>Sex</th>
                <td>{{ passenger.gender }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th>From</th>
                <td>{{ ticket1.flight.origin.airport }}</td>
                <th>To</th>
                <td>{{ ticket1.flight.destination.airport }}</td>
            </tr>
            <tr>
                <th>Total (CAD)</th>
                <td>{{ ticket1.total_fare }}</td>
            </tr>
        </table>
    </main>
</body>
</html>